[submodule "elisp/aidermacs"]
	path = elisp/aidermacs
	url = https://github.com/MatthewZMD/aidermacs.git
[submodule "elisp/archive-rpm"]
        path = elisp/archive-rpm
        shallow = true
        url = https://github.com/nbarrientos/archive-rpm.git
[submodule "elisp/asdf-vm"]
        path = elisp/asdf-vm
        url = https://github.com/delonnewman/asdf-vm.el.git
[submodule "elisp/erlang-ts"]
        path = elisp/erlang-ts
        url = https://github.com/erlang/emacs-erlang-ts.git
[submodule "elisp/gptel"]
        path = elisp/gptel
        url = https://github.com/karthink/gptel.git
[submodule "elisp/gptel-fn-complete"]
	path = elisp/gptel-fn-complete
	url = https://github.com/mwolson/gptel-fn-complete.git
[submodule "elisp/jtsx"]
        path = elisp/jtsx
        url = https://github.com/llemaitre19/jtsx.git
[submodule "elisp/kotlin-ts-mode"]
        path = elisp/kotlin-ts-mode
        url = https://gitlab.com/bricka/emacs-kotlin-ts-mode.git
[submodule "elisp/ligature"]
        path = elisp/ligature
        url = https://github.com/mickeynp/ligature.el.git
[submodule "elisp/mermaid-ts-mode"]
	path = elisp/mermaid-ts-mode
	url = https://github.com/kiennq/mermaid-ts-mode.git
[submodule "elisp/minuet"]
	path = elisp/minuet
	url = https://github.com/milanglacier/minuet-ai.el.git
[submodule "elisp/polymode"]
        path = elisp/polymode
        url = https://github.com/polymode/polymode.git
[submodule "elisp/prisma-ts-mode"]
        path = elisp/prisma-ts-mode
        url = https://github.com/nverno/prisma-ts-mode.git
[submodule "elisp/poly-markdown"]
        path = elisp/poly-markdown
        url = https://github.com/polymode/poly-markdown.git
[submodule "elisp/swift-ts-mode"]
        path = elisp/swift-ts-mode
        url = https://github.com/rechsteiner/swift-ts-mode.git
[submodule "elisp/tmux-mode"]
        path = elisp/tmux-mode
        url = https://github.com/nverno/tmux-mode.git
[submodule "elisp/zig-ts-mode"]
        path = elisp/zig-ts-mode
        url = https://codeberg.org/meow_king/zig-ts-mode.git
[submodule "extra/emacs"]
        path = extra/emacs
        shallow = true
        url = https://github.com/emacs-mirror/emacs.git
[submodule "extra/git"]
        path = extra/git
        shallow = true
        url = https://github.com/git-for-windows/git.git
[submodule "extra/tree-sitter-module"]
        path = extra/tree-sitter-module
        shallow = true
        url = https://github.com/casouri/tree-sitter-module.git
[submodule "extra/tree-sitter-bash"]
        path = extra/tree-sitter-bash
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-bash.git
[submodule "extra/tree-sitter-c"]
	path = extra/tree-sitter-c
        shallow = true
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "extra/tree-sitter-c-sharp"]
	path = extra/tree-sitter-c-sharp
        shallow = true
    	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule "extra/tree-sitter-clojure"]
        path = extra/tree-sitter-clojure
        shallow = true
        url = https://github.com/sogaiu/tree-sitter-clojure.git
[submodule "extra/tree-sitter-cpp"]
        path = extra/tree-sitter-cpp
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "extra/tree-sitter-dockerfile"]
        path = extra/tree-sitter-dockerfile
        shallow = true
        url = https://github.com/camdencheek/tree-sitter-dockerfile.git
[submodule "extra/tree-sitter-erlang"]
        path = extra/tree-sitter-erlang
        shallow = true
        url = https://github.com/WhatsApp/tree-sitter-erlang.git
[submodule "extra/tree-sitter-go"]
        path = extra/tree-sitter-go
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "extra/tree-sitter-gomod"]
        path = extra/tree-sitter-gomod
        shallow = true
        url = https://github.com/camdencheek/tree-sitter-go-mod.git
[submodule "extra/tree-sitter-java"]
        path = extra/tree-sitter-java
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "extra/tree-sitter-javascript"]
        path = extra/tree-sitter-javascript
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "extra/tree-sitter-jsdoc"]
        path = extra/tree-sitter-jsdoc
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-jsdoc
[submodule "extra/tree-sitter-json"]
	path = extra/tree-sitter-json
        shallow = true
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "extra/tree-sitter-kotlin"]
        path = extra/tree-sitter-kotlin
        shallow = true
        url = https://github.com/fwcd/tree-sitter-kotlin.git
[submodule "extra/tree-sitter-markdown"]
        path = extra/tree-sitter-markdown
        shallow = true
        url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
        branch = split_parser
[submodule "extra/tree-sitter-mermaid"]
	path = extra/tree-sitter-mermaid
        shallow = true
	url = https://github.com/monaqa/tree-sitter-mermaid
[submodule "extra/tree-sitter-nix"]
        path = extra/tree-sitter-nix
        shallow = true
        url = https://github.com/nix-community/tree-sitter-nix.git
[submodule "extra/tree-sitter-prisma"]
        path = extra/tree-sitter-prisma
        shallow = true
        url = https://github.com/victorhqc/tree-sitter-prisma.git
[submodule "extra/tree-sitter-python"]
        path = extra/tree-sitter-python
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "extra/tree-sitter-rust"]
        path = extra/tree-sitter-rust
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "extra/tree-sitter-swift"]
        path = extra/tree-sitter-swift
        shallow = true
        url = https://github.com/alex-pinkus/tree-sitter-swift.git
[submodule "extra/tree-sitter-typescript"]
        path = extra/tree-sitter-typescript
        shallow = true
        url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "extra/tree-sitter-yaml"]
        path = extra/tree-sitter-yaml
        shallow = true
        url = https://github.com/tree-sitter-grammars/tree-sitter-yaml.git
[submodule "extra/tree-sitter-zig"]
        path = extra/tree-sitter-zig
        shallow = true
        url = https://github.com/mwolson/tree-sitter-zig.git
[submodule "extra/vscode"]
	path = extra/vscode
	ignore = dirty
        shallow = true
	url = https://github.com/microsoft/vscode.git
[submodule "share/man"]
        path = share/man
        shallow = true
        url = https://github.com/mwolson/git-for-windows-manpages.git
