[submodule "elisp/archive-rpm"]
	path = elisp/archive-rpm
        shallow = true
	url = https://github.com/nbarrientos/archive-rpm.git
[submodule "elisp/asdf-vm"]
	path = elisp/asdf-vm
	url = https://github.com/delonnewman/asdf-vm.el.git
[submodule "elisp/elysium"]
	path = elisp/elysium
	url = https://github.com/lanceberge/elysium.git
[submodule "elisp/gptel"]
	path = elisp/gptel
	url = https://github.com/karthink/gptel.git
[submodule "elisp/ligature"]
	path = elisp/ligature
	url = https://github.com/mickeynp/ligature.el.git
[submodule "elisp/polymode"]
	path = elisp/polymode
	url = https://github.com/polymode/polymode
[submodule "elisp/prisma-ts-mode"]
	path = elisp/prisma-ts-mode
	url = https://github.com/nverno/prisma-ts-mode.git
[submodule "elisp/poly-markdown"]
	path = elisp/poly-markdown
	url = https://github.com/polymode/poly-markdown
[submodule "elisp/tmux-mode"]
	path = elisp/tmux-mode
	url = https://github.com/nverno/tmux-mode.git
[submodule "elisp/zig-mode"]
	path = elisp/zig-mode
	url = https://github.com/ziglang/zig-mode.git
[submodule "extra/emacs"]
	path = extra/emacs
        shallow = true
	url = https://github.com/emacs-mirror/emacs.git
[submodule "extra/git"]
	path = extra/git
        shallow = true
	url = https://github.com/git-for-windows/git.git
[submodule "extra/tree-sitter-module"]
	path = extra/tree-sitter-module
        shallow = true
	url = https://github.com/casouri/tree-sitter-module.git
[submodule "share/man"]
	path = share/man
        shallow = true
	url = https://github.com/mwolson/git-for-windows-manpages.git
