[submodule "elisp/docker-tramp"]
	path = elisp/docker-tramp
	url = https://github.com/emacs-pe/docker-tramp.el
[submodule "elisp/tramp"]
	path = elisp/tramp
	url = git://git.savannah.gnu.org/tramp.git
